<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bulma/css/bulma.css">
    <title>Registro</title>

    <script src="../js/scriptRegistro.js" defer></script>
</head>
<body>
    <div class="section">
        <h1 class="title is-1">REGISTRO:</h1>
        <p class="subtitle is-5">Al dar click en registrarse, estas aceptando nuestros terminos y condiciones.</p>

        <!-- DIV USUARIO -->
        <div class="field">
            <p class="control has-icons-left has-icons-right">
            <input id="txtUsuario" class="input" type="text" placeholder="Usuario">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
            </p>
        </div>
        
        <!-- DIV CONTRASEÑA -->
        <div class="field">
            <p class="control has-icons-left">
            <input id="txtContraseña" class="input" type="password" placeholder="Contraseña">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
            </p>
        </div>

        <!-- BOTON REGISTRO -->
            <p class="control">
            <button onclick="registrarse()" class="button is-success">
                Registrarse
            </button>
            </p>

            <br>
            <br>
        <!-- BOTON vOLVER -->
            <p class="control">
            <button onclick="volver()" class="button is-warning">
                Volver
            </button>
            </p>
        
    </div>
</body>
</html>